<html>
<head>

    <title>jQuery Scrollbar Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="jquery/includes/style.css"/>
    <link rel="stylesheet" href="jquery/includes/prettify/prettify.css"/>
    <link rel="stylesheet" href="chat.css"/>

    <script src="jquery/includes/prettify/prettify.js"></script>
    <script src="jquery/includes/jquery.js"></script>
    <script src="jquery/jquery.scrollbar.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.scrollbar-inner').scrollbar();
        });
        function main() {

        }

        function updateFriends() {
            let list = controller.getFriends();
            let node = document.getElementById("user-list");
            node.innerHTML = "";

            for (let i = 0; i < list.size(); i++) {
                let newNode = document.createElement("div");
                let connected = list.get(i).isConnected();
                if (connected) {
                    newNode.classList.add("conectado");
                } else {
                    newNode.classList.add("desconectado");
                }

                newNode.innerText = list.get(i).getName();
                node.appendChild(newNode);
            }
        }
    </script>
</head>

<body style="margin: 0; padding: 0">
<div style="display: flex; width: 100%; height: 80%;">
    <div id="user-list" style="width: 20%; height: 100%; background: whitesmoke; bor">
        <div class="actual">Loading...</div>
    </div>

    <div style="width: 80%;height: 100%; display: flex; margin-left: 1em; margin-top: 1em">
        <div class="scrollbar-inner" style="width: 100%">


            <p style="font-style: italic;">Persone:</p>
            <p>
                Lorem ipsum dolor sit amet
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit ametamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh aamet, consectetur adipisicing elit. Proin nibh a, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>

            <p style="font-style: italic;">Usuario 1:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh a
            </p>


        </div>
    </div>
</div>


<div style="width: 100%; height: 20%">
<textarea rows="2" style="width: 70%;margin-left: 20%; margin-top: 5%">

</textarea>

</div>
</body>

</html>
