/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}

.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

/*************** SIMPLE INNER SCROLLBAR ***************/

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.scrollbar-inner > .scroll-element .scroll-element_track {
    background-color: #e0e0e0;
}

.scrollbar-inner > .scroll-element .scroll-bar {
    background-color: #c2c2c2;
}

.scrollbar-inner > .scroll-element:hover .scroll-bar {
    background-color: #919191;
}

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar {
    background-color: #919191;
}

/* update scrollbar offset if both scrolls are visible */

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

.conectado {
    width: 22.5vw;
    background: lightgreen;
    margin-left: 3px;
    padding-left: 0.5em;
    border-right: solid 2px;
    margin-bottom: 0;
}

.conectado:hover {
    background: #9bff9b;
}

.desconectado {
    width: 22.5vw;
    background: lightcoral;
    margin-left: 3px;
    padding-left: 0.5em;
    border-right: solid 2px;
}

.actual {
    width: 22.5vw;
    padding-left: 0.5em;
    margin-left: 3px;
    background: white;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.search-result {
    width: 22.5vw;
    padding-left: 0.5em;
    margin-left: 3px;
    background: white;
}

.search-result:hover {
    background-color: #9acfea;
}

.scrollbar-inner p {
    min-width: 100%;
}

.scrollbar-inner {
    padding-right: 150px;
}

.username {
    font-style: italic;
    color: blue;
    margin: 0;
    padding: 0;
}

.conversation {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    /*margin-left: 1em;*/
    /*margin-top: 1em*/
}

#user-search {
    margin: 0;
    padding: 0;
    width: 97.5%;
}

.search-section {
    text-align: center;
    width: 22.5vw;
    padding-left: 0.5em;
    margin-bottom: 3px;
    background: white;
}

.debug {
    outline: solid 1px red;
}

.debug1 {
    outline: solid 1px blue;
}

.debug2 {
    outline: solid 1px yellow;
}

#botton-box {
    border: solid black 2px;
    padding: 10px;
    margin: 0;
    background-color: #3c3c3c;
}

#profile-button {
    width: 100%;
    height: 95%;
    margin: auto;
}

#input-text {
    height: 95%;
    width: 95%;

    margin: auto;
}

.unread-msg {
    background-color: red;
    border-radius: 0.5%;
    color: white;margin-left: auto;
}