<html>
<head>

    <title>jQuery Scrollbar Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="jquery/includes/style.css"/>
    <link rel="stylesheet" href="jquery/includes/prettify/prettify.css"/>
    <link rel="stylesheet" href="chat.css"/>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>

    <script src="jquery/includes/prettify/prettify.js"></script>
    <script src="jquery/includes/jquery.js"></script>
    <script src="jquery/jquery.scrollbar.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</head>

<body style="margin: 0; padding: 0">
<div class="row" style="width: 100%; height: 90%;">
    <div class="col-sm-3" style="height: 100%; background: whitesmoke;">
        <div class="search-section">
            <p>Buscar amigos</p>
            <input type="text" id="user-search">
        </div>
        <div id="user-list">
            <div class="actual">Loading...</div>
        </div>
    </div>

    <div class="conversation col-sm-9">
        <div id="text" class="scrollbar-inner" style="height: 90%">
            <h3>Sin conversaciones</h3>
        </div>
    </div>
</div>

<div id="botton-box" class="row" style="width: 100%; height: 10%;">
    <div class="col-sm-3">
        <input type="button" id="profile-button" value="Mi perfil">
    </div>
    <div class="col-sm-9">
        <input type="text" id="input-text">
    </div>
</div>

<script src="chat.js"></script>
</body>
</html>
