<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="login.js"></script>
</head>
<body>

<h1>Login</h1>
<div>
    <input id="loginUser" type="text" title="Nombre de usuario">
    <input id="loginPassword" type="password" title="Contraseña">
    <input id="login" type="button" value="Acceder">
</div>


<h1>Register</h1>
<div>
    <input id="registerUser" type="text" title="Nombre de usuario">
    <input id="registerPassword" type="password" title="Contraseña">
    <input id="registerPassword2" type="password" title="Repite contraseña">
    <input id="register" type="button" value="Register">
</div>

<div id="message" style="display: none; background-color: #F00; padding: 10px; margin-top: 30px"></div>
</body>
</html>