<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="menu.css">
    <script src="menu.js"></script>
</head>
<body>

<div id="screen">
    <div class="row" style="height: 100%; width: 100%">
        <div id="left-panel" class="col-sm-4">

            <div style="height: 18%; margin: 0; padding: 0">
                <h3 class="subtitle">Buscar usuarios</h3>
                <input id="busqueda" type="text">
                <h3 class="subtitle">Amigos</h3>
            </div>

            <div style="height: 80%; margin: 0; padding: 0">
                <div id="user-list"></div>
            </div>

        </div>
        <div id="center-panel" class="col-sm-8 debug">
            <h1>fhgjjv,mjgdjhsagrhetjy</h1>
        </div>
    </div>

</div>

<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>