<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
</head>
<body>
<div id="wrapper">
    <div class="profile-wrapper">
        <div id="header">
            <h1>Perfil de usuario</h1>
            <input type="button" id="back-button"  value="Volver">
        </div>
        <hr>
        <h3 class="section-title">Cambiar Constaseña</h3>
        <table class="pass-table">
            <tr>
                <td>Constaseña actual</td>
                <td class="margin-cell"></td>
                <td><input type="password" id="oldpass"></td>
            </tr>
            <tr class="table-row">
                <td>Constaseña nueva</td>
                <td class="margin-cell"></td>
                <td><input type="password" id="newpass"></td>
            </tr>
            <tr>
                <td>Constaseña nueva (check)</td>
                <td class="margin-cell"></td>
                <td><input type="password" id="passcheck"></td>
            </tr>
        </table>
        <input type="button" id="pass-button" class="btn-primary" name="changePassword" value="Cambiar contrasena">
    </div>

    <div class="peticiones-wrapper">
        <hr>
        <h3 class="section-title">Peticiones de amistad</h3>
        <div id="peticiones">
            <p>Loading...</p>
        </div>
    </div>
</div>
<script src="profile.js"></script>
</body>
</html>