
#screen {
    height: 600px;
    width: 800px;
    border: dotted blue;
}

#left-panel {
    height: 100%;
    border: double gray;
}

.subtitle {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

#busqueda {
    margin-left: 5%;
    background-color: white;
    width: 90%;
}

#user-list {
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
    overflow-y: scroll;
    height: 100%;
    margin-left: 10px;
}

#center-panel {
}

ul {
    margin: 0;
}

.debug {
    outline: solid 1px red;
}